Repository boswelja/Ephemeris, pull requests merged in 2022-05, with the labels that each got.

#87 fix(android-views): clipToPadding does not work
  android/views/src/androidTest/kotlin/com/boswelja/ephemeris/views/EphemerisCalendarViewPaddingTest.kt
  android/views/src/androidTest/kotlin/com/boswelja/ephemeris/views/EspressoExt.kt
  android/views/src/debug/kotlin/com/boswelja/ephemeris/views/EphemerisCalendarWithPaddingFragment.kt
  android/views/src/debug/res/layout/fragment_calendar_with_padding.xml
  android/views/src/main/kotlin/com/boswelja/ephemeris/views/EphemerisCalendarView.kt
  config/detekt/detekt-base.yml
Labels: android

#90 fix(android-views): Improve exceptions when the calendar view has not been initialized before interaction
  android/views/src/main/kotlin/com/boswelja/ephemeris/views/EphemerisCalendarView.kt
  config/detekt/detekt-base.yml
Labels: android

#89 docs: Add support for generating API docs via Dokka
  android/compose/build.gradle.kts
  android/views/build.gradle.kts
  build.gradle.kts
  buildSrc/build.gradle.kts
  core/build.gradle.kts
Labels: documentation

#92 fix(android-views): Flicker when notifying date changes
  android/sample/src/main/java/com/boswelja/ephemeris/sample/dateselection/DateSelectionViewModel.kt
  android/sample/src/main/java/com/boswelja/ephemeris/sample/dateselection/compose/DateSelectionComposeCalendarFragment.kt
  android/sample/src/main/java/com/boswelja/ephemeris/sample/dateselection/views/DateSelectionCalendarDayBinder.kt
  android/sample/src/main/java/com/boswelja/ephemeris/sample/dateselection/views/DateSelectionViewsCalendarFragment.kt
  android/sample/src/main/java/com/boswelja/ephemeris/sample/main/MainFragment.kt
  android/sample/src/main/res/layout/fragment_date_selection_calendar.xml
  android/sample/src/main/res/layout/selectable_day.xml
  android/sample/src/main/res/navigation/nav_graph.xml
  android/sample/src/main/res/values/strings.xml
  android/views/src/main/kotlin/com/boswelja/ephemeris/views/pager/HeightAdjustingPager.kt
Labels: bug, android-views

#98 feature(core): Allow setting `day { }` data by variables rather than functions
  android/sample/src/main/java/com/boswelja/ephemeris/sample/custompagesource/CustomCalendarPageSource.kt
  core/src/commonMain/kotlin/com/boswelja/ephemeris/core/data/CalendarMonthPageSource.kt
  core/src/commonMain/kotlin/com/boswelja/ephemeris/core/data/CalendarWeekPageSource.kt
  core/src/commonMain/kotlin/com/boswelja/ephemeris/core/model/CalendarPageBuilder.kt
  core/src/commonTest/kotlin/com/boswelja/ephemeris/core/model/CalendarPageBuilderTest.kt
Labels: enhancement, core

#99 fix(android-views): Date cell margin is not applied
  android/views/src/main/kotlin/com/boswelja/ephemeris/views/CalendarPagerAdapter.kt
Labels: bug, android-views

#100 fix(android-views): notifyDate*Changed re-binds whole pages at a time
  android/views/src/debug/kotlin/com/boswelja/ephemeris/views/pagingadapters/AlternatingHeightPagerAdapter.kt
  android/views/src/debug/kotlin/com/boswelja/ephemeris/views/pagingadapters/BasicInfinitePagerAdapter.kt
  android/views/src/main/kotlin/com/boswelja/ephemeris/views/CalendarPagerAdapter.kt
  android/views/src/main/kotlin/com/boswelja/ephemeris/views/EphemerisCalendarView.kt
  android/views/src/main/kotlin/com/boswelja/ephemeris/views/pager/InfinitePagerAdapter.kt
  core/src/commonMain/kotlin/com/boswelja/ephemeris/core/model/CalendarPage.kt
  core/src/commonTest/kotlin/com/boswelja/ephemeris/core/model/CalendarPageTest.kt
Labels: bug, android-views

#102 fix(android-views): Overlapping dates don't get updated when notifyDate*Changed is called
  android/sample/src/main/java/com/boswelja/ephemeris/sample/custompagesource/CustomCalendarPageSource.kt
  android/views/src/androidTest/kotlin/com/boswelja/ephemeris/views/EphemerisCalendarViewDateChangeTest.kt
  android/views/src/main/kotlin/com/boswelja/ephemeris/views/EphemerisCalendarView.kt
  config/detekt/detekt-base.yml
  core/src/commonMain/kotlin/com/boswelja/ephemeris/core/data/CalendarMonthPageSource.kt
  core/src/commonMain/kotlin/com/boswelja/ephemeris/core/data/CalendarPageSource.kt
  core/src/commonMain/kotlin/com/boswelja/ephemeris/core/data/CalendarWeekPageSource.kt
Labels: bug, core, android-views

#104 feautre(core): CalendarPageSource can specify a page range limit
  android/compose/src/main/kotlin/com/boswelja/ephemeris/compose/EphemerisCalendar.kt
  android/compose/src/main/kotlin/com/boswelja/ephemeris/compose/EphemerisCalendarState.kt
  android/compose/src/main/kotlin/com/boswelja/ephemeris/compose/InfiniteHorizontalPager.kt
  android/sample/src/main/java/com/boswelja/ephemeris/sample/custompagesource/CustomCalendarPageSource.kt
  android/views/src/debug/kotlin/com/boswelja/ephemeris/views/pagingadapters/AlternatingHeightPagerAdapter.kt
  android/views/src/debug/kotlin/com/boswelja/ephemeris/views/pagingadapters/BasicInfinitePagerAdapter.kt
  android/views/src/main/kotlin/com/boswelja/ephemeris/views/CalendarPagerAdapter.kt
  android/views/src/main/kotlin/com/boswelja/ephemeris/views/pager/HeightAdjustingPager.kt
  android/views/src/main/kotlin/com/boswelja/ephemeris/views/pager/InfinitePagerAdapter.kt
  buildSrc/build.gradle.kts
  core/src/commonMain/kotlin/com/boswelja/ephemeris/core/data/CalendarMonthPageSource.kt
  core/src/commonMain/kotlin/com/boswelja/ephemeris/core/data/CalendarPageSource.kt
  core/src/commonMain/kotlin/com/boswelja/ephemeris/core/data/CalendarWeekPageSource.kt
  core/src/commonTest/kotlin/com/boswelja/ephemeris/core/data/CalendarMonthPageSourceTest.kt
Labels: enhancement, core

#105 fix(android-views): Handle rare cases where IllegalStateException may be thrown
  android/views/build.gradle.kts
  android/views/src/main/kotlin/com/boswelja/ephemeris/views/CalendarPageExt.kt
  android/views/src/main/kotlin/com/boswelja/ephemeris/views/CalendarPagerAdapter.kt
  android/views/src/test/kotlin/com/boswelja/ephemeris/views/CalendarPageExtTest.kt
  core/src/commonMain/kotlin/com/boswelja/ephemeris/core/model/CalendarPage.kt
Labels: bug, android-views
